body {
    margin: .4in;
    font-size: 18pt;
    font-family: Helvetica;
}
.nyt {
    font-family: Times;
    font-size: 45pt;
}
.long_string {
    color: green;
    margin-left: .5in;
    margin-top: 3mm;
    margin-bottom: 3mm;
}
.rand {
    color: skyblue;
}
.rt {
    text-align: right;
}
.toc {
    margin-left: .5in;
    line-height: 10mm;
}
.title {
    width: 600px;
    text-align: center;
}
td, th {
    font-size: 18pt;
    vertical-align: top;
}
.top {
    margin-left: .5in;
}
.red {
    color: red;
    font-weight: bold;
}
a {
    color: blue;
    text-decoration: none;
}
.blue {
    color: blue;
}
h1 {
    font-size: 35pt;
    text-align: center;
}
h2 {
    margin-bottom: 20px;
}
h4 {
    margin-top: 15px;
    margin-bottom: 0px;
}
.green {
    color: green;
}
.purple {
    color: purple;
}
.cmd {
    color: darkred;
}
.ind {
    text-indent: .3in;
}
pre {
    margin-top: 0px;
    color: green;
    font-family: Courier;
    font-size: 16pt;
}
.hive {
    color: black;
    font-family: Courier;
    font-size: 28pt;
}
