body {
    font-family: Arial;
    margin: .5in;
    font-size: 18pt;
}
li {
    margin-bottom: 4mm;
}
td, th {
    font-family: Arial;
    font-size: 18pt;
    text-align: right;
}
.left {
    text-align: left;
}
.let {
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
}
.center {
    color: green;
    font-size: 24pt;
}
.word {
    font-size: 24pt;
    color: green;
}
.green {
    color: green;
}
.gray {
    color: gray;
}
a {
    text-decoration: none;
    color: blue;
}
input, button {
    font-size: 18pt;
}
.red {
    color: red;
}
button, .word_td {
    background: lightgreen;
}
.cmd {
    color: darkred;
}
.cursor {
    cursor: pointer;
    color: blue;
}
.step_name {
    color: green;
}
