body {
    margin: .4in;
    font-size: 18pt;
    font-family: Helvetica;
}
.title {
    width: 600px;
    text-align: center;
}
td, th {
    font-size: 18pt;
    vertical-align: top;
}
.red {
    color: red;
    font-weight: bold;
}
a {
    color: blue;
    text-decoration: none;
}
h1 {
    font-size: 35pt;
    text-align: center;
}
h2 {
    margin-bottom: 5px;
}
h4 {
    margin-top: 15px;
    margin-bottom: 0px;
}
.green {
    color: green;
}
.cmd {
    color: darkred;
}
pre {
    margin-top: 0px;
    color: green;
    font-family: Courier;
    font-size: 16pt;
}
.hive {
    color: black;
    font-family: Courier;
    font-size: 28pt;
}
